/* Mapa para donations */
$donations:(
    borde: groove 5px gray,
    alineacion: center,
);
@media only screen and (max-width:450px){
    .donations{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
    .donations-items{
        border: map-get($donations, borde);
        padding: 10px 10px 10px 10px;
    }
    .top-donations{
        text-align: map-get($donations, alineacion);
    }
}
@media only screen and (min-width:451px){
    .donations{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        margin-left: 2%;
        margin-right: 2%;
    }
    .donations-items{
        border: map-get($donations, borde);
        padding: 10px 10px 10px 10px;
    }
    .top-donations{
        text-align: map-get($donations, alineacion);
    }
}